<!DOCTYPE html>
<html>
<head>
	<title>AutoComplete</title>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.js">
	</script>

	<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.js">
	</script>

	<link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/themes/ui-lightness/jquery-ui.css"
		rel="stylesheet" type="text/css" />

	<script src="{{url_for('static', filename='js/index.js')}}"/></script>
</head>
<body>
	<h1>Phase Test Nouvel Algo</h1>
	<div>

	<form name="result"  action="{{ url_for('result') }}" method="POST">

	<label for="types">Type de Cérémonies : </label>
	<input class="form-control" list="type" name="types" id="types" required="required">
	<datalist id="type">
		<option value="Mariage">
		<option value="Baptême">
		<option value="Autres">
	</datalist><br><br>

	<label for="budget">Budget prévu : </label>
	<input type="number" name="budget" id="budget"><br><br>

	<label for="invites">Nombre d'invités : </label>
	<input type="number" name="invites" id="invites"><br><br>

	<label for="tags">Lister les besoins pour votre cérémonie : </label>
	<input type="text" id="tags" name="tags"> <input type="button" name="ajouter" onclick="ajouter_val();" value="Ajouter"><input type="submit" name="submit"  value="Terminer">
 <div class="all_vals" id="all_vals"/> </div>

	</form></div>
	<script>
$( function() {
	var availableTags = [
		{% for language in languages %}
			"{{language}}",
		{% endfor %}
	];
	$( "#tags" ).autocomplete({
	source: availableTags
	});
} );

</script>
</body>
</html>
